@font-face {
  font-family: sans-serif;
  src: url('fonts/corbert'); }

}
table {
  border: 1;
  width: 100%;
  align-items: center;

}

tbody {
  background-color: lightyellow;
}

th {
  font-style:italic;
}

#bandmembers {
  font-family: corbert, sans-serif;
  font-weight: bold;
}

#lumiere {
  background-image:url("../images/lumiere_cover.jpg");
  margin: auto;
  width: 300px;
  height: 300px;
  align: center;

}
