@font-face {
  font-family: sans-serif;
  src: url('fonts/corbert'); }

}
table {
  border: 1;
  width: 100%;

}

tbody {
  background-color: #30CD9A;
}

@media only screen and (min-width: 768px) {
    tbody {
        background-color: #f7f7f7;
    }
}

th {
  font-style:italic;
}

.container {
  margin: 0 auto;
}

#bandmembers {
  font-family: corbert, sans-serif;
  font-weight: bold;
}

#lumiere {
  background-image:url("../images/lumiere_cover.jpg");
  margin: auto;
  width: 300px;
  height: 300px;
  align: center;

}
