/***************************/
/*         LAYOUT          */
/***************************/


@font-face {
  font-family: sans-serif;
  src: url('fonts/corbert'); }

}

#title {
  font-family: corbert, sans-serif;

}

.menu-item {
  font-size: 200%;
}


.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

table {
	width: 100%;
	text-align: center;
}

div {
  text-align: center;
}

.primary-content {
  margin: 50px auto;
}

#beverages {
  width: 100%;
  margin: 50px auto;
}

#beverages caption {
  text-decoration: underline;
}

table, th, td {
  border-collapse: collapse;
}

header {
  text-align: center;
  margin: 0 auto;
}

#nav {
  text-align: left;
  display: block-inline;
  margin: 0px auto;

}

#nav a {
    padding: 0 10px;
    margin: 0 auto;
}

#restaurantphoto {
  margin: 30px auto;
}

form {
  width: 100%;

}


#description {
	margin: 0px auto;
	width: 40%;
}

#footer {
  marrgin: 0 auto;
	width: 100%;
	text-align: center;
  position: fixed;
  bottom: 0;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/***************************/
/*     Pseudo Elements     */
/***************************/

a:visited {
  color: lightgrey;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}
