/***************************/
/*         LAYOUT          */
/***************************/


@font-face {
  font-family: sans-serif;
  src: url('fonts/corbert'); }

}

button {
  width: 1000px;
  height: 3000px;
  background: lightgrey;
  color: #fff;
}

div {
  margin: 0 auto;
  padding: 2%;
}

table, td, th {
  border: border-box;
  background-color: lightgrey;
  border: 1px solid #fff;
}

#gamblingInfo {
  margin: 0 auto;
}
