/***************************/
/*         LAYOUT          */
/***************************/

/*
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0;
    vertical-align: middle;
    margin: 0 auto;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}


*/

@font-face {
  font-family: sans-serif;
  src: url('fonts/corbert'); }

}

#title {
  font-family: corbert, sans-serif;

}

.menu-item {
  font-size: 200%;
}
div {
  text-align: center;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 0 auto;
}

#nav {
  text-align: left;
  display: block-inline;
  margin: 0px auto;

}

#nav a {
    padding: 0 10px;
    margin: 0 auto;
}

#restaurantphoto {
  margin: 30px auto;
}

form {
  width: 100%;

}
table {
	width: 100%;
	text-align: center;
  background-color: lightgrey;
}

table td {
  padding: 0 40px;
}

#description {
	margin: 0px auto;
	width: 40%;
}

#footer {
	width: 100%;
	text-align: center;
    position: fixed;
    bottom: 0;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
